<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>res.render() today</title>
	</head>
	<body>
        <h1>
            Today is <%=todayWeekdayOrWeekend%>, time to <%=todo%>
        </h1>   
	</body>
</html>
